html {
  height: 100%;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

body {
  color: white;
  font-family: 'Gotham Pro';
  line-height: 1;
  height: 100%;
  background-attachment: fixed;
  background-color: #375bf4;
  background-image: linear-gradient(
    49deg,
    rgba(55, 91, 244, 1) 0%,
    rgba(32, 151, 177, 1) 25%,
    rgba(17, 188, 135, 1) 46%,
    rgba(17, 188, 135, 1) 50%,
    rgba(17, 188, 135, 1) 55%,
    rgba(32, 151, 177, 1) 75%,
    rgba(55, 91, 244, 1) 100%
  );
  animation: body-bg 8s infinite;
  background-size: 340%;
  background-position: -200% 0%;
}

main {
  overflow: hidden;
  flex: 1 0 auto;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 832px;
  margin: 0 auto;

  @media (max-width: 850px) {
    padding: 0 20px;
  }

  @media (max-width: 650px) {
    padding: 0;
    width: 300px;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
}

@keyframes body-bg {
  0% {
    background-position: -200% 0%;
  }

  50% {
    background-position: -270% 0%;
  }

  100% {
    background-position: -200% 0%;
  }
}
