html {
  height: 100vh;
}

body {
  background-color: #375bf4;
  color: white;
  font-family: 'Gotham Pro';
  line-height: 1;
  height: 100%;
  position: relative;
  overflow: hidden;

  &::after {
    width: calc(150% * 2);
    height: calc(150% * 2);
    position: absolute;
    background: rgb(17, 188, 135);
    background: linear-gradient(
      45deg,
      rgba(17, 188, 135, 0) 0%,
      rgba(32, 151, 177, 0.5382528011204482) 15%,
      rgba(17, 188, 135, 0.6923144257703081) 32%,
      rgba(17, 188, 135, 1) 49%,
      rgba(17, 188, 135, 0.6951155462184874) 69%,
      rgba(32, 151, 177, 0.5214460784313726) 83%,
      rgba(17, 188, 135, 0) 100%
    );
    content: '';
    left: -170%;
    top: 0%;
    animation: body-bg 10s infinite;
  }
}

main {
  overflow: hidden;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 832px;
  margin: 0 auto;

  @media (max-width: 850px) {
    padding: 0 20px;
  }

  @media (max-width: 650px) {
    padding: 0;
    width: 300px;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
}

@keyframes body-bg {
  0% {
    left: -170%;
    top: 0%;
  }

  50% {
    left: -0%;
    top: -170%;
  }

  100% {
    left: -170%;
    top: 0%;
  }
}
